
.nivel-1.titulo {
    /* PATIO X: TITULO */
    color: #38423f;  
    font-size: 1.6em;
    font-weight: bold;
    text-transform: uppercase;
}

.titulo:hover {
    cursor: pointer;
}

.nivel-1.titulo:hover {
    color: black;
}

.nivel-2.titulo:hover {
    color: black;
}

.nivel-3.titulo:hover {
    color: black;
}

.descripcion {
    text-align: left;
    font-size: 0.9em;
    color: #818181;
}

.nivel-2.descripcion {
    padding-left: 2em;
}

.nivel-3.descripcion {
    padding-left: 2em;
    margin-left: 3em;
}

.nivel-4.descripcion {
    padding-left: 2em;
    margin-left: 6em;
}

.nivel-2.titulo, .nivel.patios {
    /* Subcategoría */
    padding: 0.5em;
    padding-left: 2em;
    margin: 1em;
    color: #38423f;   
    background: rgba(36, 200, 126, 0.4);
}

 .nivel.patios{
    list-style-type: none;
    margin: 1em 1em 1em 0em;
    padding-left: 1em;
}

 .nivel.patios a{
     color: #38423f;
 }

.nivel-3.titulo {
    /* Subcategoría */
    margin: 1em;
    margin-left: 3em;
    padding: 0.5em;
    padding-left: 2em;
    color: #38423f;  
    background: rgba(36, 200, 126, 0.1);
}

.nivel-4.titulo {
    /* Subcategoría */
    margin: 1em;
    margin-left: 5em;
    padding: 0.5em;
    padding-left: 2em;
    background: rgba(255,255,255, 0.7);
    border: 1px solid #38423f;
}

.nivel-5.titulo {
    /* Subcategoría */
    margin: 1em;
    margin-left: 7em;
    padding: 0.5em;
    padding-left: 2em;
    border: 1px solid gray;
}




.propuesta {
    margin: 1em 0em 1em 4em;
    padding-left: 1em;
    border-left: 7px solid rgba(0,0,0,0);
}

.propuesta:hover {    
    border-left: 7px solid rgba(36, 200, 126, 0.4);
}

.cuadro-propuesta {
    background: oldlace;
    padding: 1em;
    margin: 1em 0em 1em 0em;
}

.opciones{
    visibility: hidden;
}

.btnadd {
    margin-left:6em;
}



.engloba.sub, .descripcion, .grupo-propuestas {
    display:none;
}



.divpropuesta{
    padding-left: 2em;    
    border-left:1px solid gray;
}

.engloba.nivel-1 {
    background: #f7f7f7;
    padding: 1em;
    margin: 1em;
}

.titulo, .engloba.nivel-1, .patios.nivel {
    border-radius: 5px;
}

.separador {
    border-width: 0.5px;
    color: gray;
}

.badge-secondary{
    background-color: Thistle ;
}

.badge-secondary.codigo_parrafo{
    background-color: #aaa ;
}


/* VISALUZACION DE FUENTES  */
html {
    text-rendering: optimizeLegibility;
}

.stick{
    position : fixed;
    top: 3.9rem;
    left: 0;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 1000;
}

#sticky{
    padding : 10px;
    background : #38423f;
    color : #fff;
}

body {
    padding-top: 8rem;
}





/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 4000; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: Thistle; /* Black*/    
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.contenido_barra {
    margin: 1em;
}

#texto_original {
    max-height: 120px;
    height: 120px;
    overflow-y: scroll;
    border: 1px solid;
    background: rgba(255,255,255,0.9);
    font-size: 0.66em;
    padding: 0.6em;
}

#texto_nuevo {
    font-size: 0.66em;
    padding: 0.6em;
    width: 100%;
}

label{
    margin-bottom: 0rem;
    font-size: 0.8em;
}

#adjunto {
    display:none; 
}

.btn {
    white-space: normal;
    text-align: left;
}

/* MOVILES */ 
@media only screen and (max-width: 1024px) {
    /* For mobile phones: */
    
    .opciones{
        visibility: visible;
    }


    .nivel-1.titulo  {
        font-size: 1.2em;
    }

    .nivel-3.titulo  {
        margin: 0.4em;
    }    

    .nivel-1.descripcion,.nivel-2.descripcion,.nivel-3.descripcion,.nivel-4.descripcion {

        font-size: 0.8em;
        padding-left: 0.5em;
    }
    .nivel-3.descripcion{
        margin-left: 0.3em;
    }
    
    .nivel-4.descripcion{
        margin-left: 0.5em;
    }    
    
    .nivel-4.titulo {
        padding-left: 0.5em;
        margin-left: 0em;
    }
    
    .nivel-5.titulo {
        padding-left: 0.5em;
        margin-left: 0em;
    }    

    .engloba.categoria.nivel-1{
        margin: 0.1em 1em 0.1em 1em;
    }

    .propuesta {
        font-size: 0.8em;
    }

    .nivel-2.titulo  {
        padding-left: 0.5em;
        margin-left: 0px;
        margin-right: 0px;            
    }
    .nivel-3.titulo  {
        padding-left: 0.5em;
        margin-left: 0px;
        margin-right: 0px;            
    }   
    .propuesta {
        padding-left: 0.5em;
        margin-left: 0px;
        margin-right: 0px;            
    }        
    body {
        padding-left: 0em;
        padding-right: 0em;
        padding-bottom: 0em;
    }
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.codigo_propuesta a{
    color: white;
}

#volverArriba {
  display: inline-block;
  background-color: #3EC574;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  color: white;
  z-index: 3000;
}

#volverArriba:hover {
  cursor: pointer;
  background-color: #333;
}

#volverArriba.show {
  opacity: 1;
  visibility: visible;
}
